

.sectionPrincipal{
    padding: 5%;
    font-size: 16px;
    text-align-last: left;
    font-family: sans-serif;
}

body{
    
    
    color:#555555;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

h1{
    
    padding: 14px;
    color: #fff;
    text-align: center;
    color: rgb(94, 3, 3);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 800;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    
}
h4{
    padding: 14px;
    text-align: center;
    color: rgb(94, 3, 3);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 800;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
h3{

    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-transform: uppercase;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    margin: 8px;
    height: 20px;


}


input,select{
    width: 28%;
    padding: 0px;

    color: #999;
    margin: 3px 0px;
    
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;

}
input[type="radio"]{
    height: 20px;
    width: 5%;

    
}
input[type="file"]{

    padding: 0px;
    border:0;
    border-radius: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border: 0px;
    height:25px;
    width: 500px;
    margin-right: 10px;
    color: black;


}

img{
    width: 100%;
}
input[type=button], input[type="submit"]{
    background-color:#161594;
    
    text-transform: uppercase;
    border:1px solid #161594;
    width: 120px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    align-content: center;
}



input[type=submit]:hover, input[type="button"]:hover{
    background-color:#3A39D6;
    color:rgba(255,255,255,1);
    
     box-shadow: 0 5px 10px 0 rgba(0,0,0,.47);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.47);
    -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.47);
    -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.47);
}

.conjunto{
    display: flex;
    flex-direction: row;

    


}
.fotocolores{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex ;
    margin-left: 10%;
    
}



.col-img{
    width: 30%;
}   

.col-colores{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.col-divColor{
    width: 20%;
    align-content: center;
}

.imgColores{
    width: 70%;
    margin-top: 1%;
}

footer{
    text-align: center;
    padding: 10px;
    color: #fff;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
    background-color: #b3b3b3;
    background-repeat: no-repeat;
    background-position: center;
}

footer p{
    color: #fff;
    color: rgba(255,255,255,.65);
    font-size: .57em;
    text-transform: none;
    letter-spacing: .2em;
    line-height:2em;
    text-align: center;
}


