
body{
    background-color: whitesmoke;
}


.sectionPrincipal{
    font-size: 16px;
    padding-top: 1%;
    font-family: sans-serif;
   
}

.sectionPrincipal p, label, input[type="radio"]{
    font-size: 18px;
    
    font-family: sans-serif;
    color: black;
}



h1{
    
    padding: 14px;
    color: #fff;
    
    color: rgb(94, 3, 3);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 800;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    
}
h4{
    
    padding: 14px;
    color: rgb(94, 3, 3);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 800;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
h3{

    
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-transform: uppercase;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    margin: 8px;
    height: 20px;


}
.busqueda{
    margin: 0.5% 2% 0 1%;
    
}

input,select{
    width: 20%;
    padding: 0px;

    color: #999;
    margin: 3px 0px;
    
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;

}
input[type="radio"]{
    height: 20px;
    width: 5%;
    color: black;
    
}
input[type="file"]{

   
    
    margin: 0;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border: 1px;
    height:25px;
    width: 26%;
    margin-right: 10px;
    color: black;
    color: transparent;
    background-color: #fff;


}




input[type=submit]:hover, input[type="button"]:hover{
    background-color:#3A39D6;
    color:rgba(255,255,255,1);
    
     box-shadow: 0 5px 10px 0 rgba(0,0,0,.47);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.47);
    -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.47);
    -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.47);
}

.conjunto{
    display: flex;
    flex-direction: row;

    


}


  


.flex{
    flex-direction: row;
    display: flex;
    
    align-content: center;
    text-align: center;
    /*justify-content: center;*/
}

.centrarCref{
    justify-content: center;
}

.flex input{
    text-align: center;
}

.precios{
    width: 10%;
    margin-right: 2%;
}

.inpStock{
    width: 100%;
    margin: 0;
    padding: 0;
}


tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td{

    text-align: center;
    justify-content: center;
    display: table-cell;
}

.col-10{
    width:80%;
}
.col-2{
    width:20%;
}

.col-12{
    width:100%;
}

.col-6{
    width:50%;
}

.pJpg{
    margin-top: 5.5%;
}

.btnStock{
    display: inline-flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tabla.tablaStock{
    margin-bottom: 2%;
    width: 100%
}


input[type=button], input[type="submit"]{
    display: inline-block;
    
    background-color:#161594;
    text-transform: uppercase;
    border:1px solid #161594;
    width: 180px;
    height: 30px;
    font-size: 11px;
    text-align: center;
    align-content: center;

}

table{
    width: max-content;
}

.cardP{
    background-color: #fff;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 4%;
    width: 50%;
    text-align: center;
    justify-content: center;
    box-shadow: 0 20px 40px gray;

}


.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.cardPTabla{

    background-color: #fff;
    border-radius: 10px;
    padding: 3%;
    width: 90%;
    text-align: center;
    justify-content: center;
    box-shadow: 0 20px 40px gray;

}

.btnDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.btnDiv input[type=button], input[type=submit]{
    
    width: fit-content;
}

.flex .cardP{
    width: 90%;
    margin: 2%;
    margin-top: 4%;
}

.flex .cardP input[type=file]{
    width: 40%;
    margin-left: 2%;
}

.muestraColor{
    display: flex;
    
}

.muestraColor input, select{
    margin-top: 4%;
    
}


.muestraColor input[type=file]{
    margin-top: 6%;
    margin-right: 10%;
    
}

.muestraColor select{
    width: 40%;
    margin-top: 3%;
    
}

input[type=file], select{
    font-size: small;
}


.btnDivImagenes{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.margenesInput{
    margin: 0;
    margin-left: 3% !important;
}

.marginTop{
    margin-top: 3%;
}

.interlineado{
    line-height: 1px;
    font-size: small !important;
}

.inputFotos{
    width: 170px !important;
}

.flexExport{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;

}

.flexExport select, input[type=button]{
    margin: 2%;
}

.flexExport input[type=button]{
    margin-left: 4%;
}

.flexExport select{
    width: 25%;
    font-size: 16px;
}

.menosPaddingtop{
    margin-top: 2% !important;
}

.moverArriba{
    position: absolute;
    transform: translate(100%, -113%);
    height: fit-content;
}

.marginBotPalFooter{
    margin-bottom: 2%;
}


.list-group{
    border: solid;
    border-color: #999;
    border-width: 1px;
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
    
}

.datosAgente{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
}

.btnActAgente{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    width: 100%;    
    padding-left: 5%;
}

.filasList{
    padding: 1% 0;
    width: 100%;
    border: solid;
    border-color: #999;
    border-width: 1px;
    cursor: pointer;
}
.filasList:hover{
    background-color: whitesmoke;
}
.datosAgente{
    margin-left: 5%;
}
.datosAgente label{
    margin-top: 10px;
    font-size: medium;
}

.inGrande{
    width: 50%;
}

.inMedio{
    width: 30%;
}

.divInsertar{
    margin-top: 5%;
    }
    
    .cardInsertar{
    width: 75%;
    }
    
    .inp_insert{
    width: 30%;
    margin-right: 10px;
    }
    
    #id_inpInsertarEmail{
    width: 45%;
    margin-right: 10px;
    }
    
    #id_inpInsertarAdmin{
    width: 10%;
    margin-right: 10px;
    }
    #id_inpInsertarCodNac{
    width: 15%;
    }


.btnBorrar{
    background-color:  #d12626 !important;
    border-color: #d12626 !important;
    
}